{% load chat_extras %}

<div id="messages-list-content" class="flex flex-col pb-2">

    {% regroup mensagens by criado_em.date as grupos_por_dia %}

    {% for grupo in grupos_por_dia %}
    <div class="relative w-full">

        <div class="sticky top-2 z-10 flex justify-center mb-4 pointer-events-none">
            <span class="bg-gray-200/90 backdrop-blur-sm text-gray-600 text-xs font-medium px-3 py-1.5 rounded-lg shadow-sm border border-gray-300 uppercase">
                {{ grupo.grouper|data_inteligente }}
            </span>
        </div>

        <div class="flex flex-col gap-2 px-2">
            {% for m in grupo.list %}

                {% if m.tipo == 'cliente' %}
                    <div class="flex justify-start">
                        <div class="bg-white text-gray-800 p-2 rounded-lg rounded-tl-none shadow-sm max-w-[70%] text-sm relative group break-all whitespace-pre-wrap">
                            {{ m.conteudo }}
                            <div class="text-[10px] text-gray-400 text-right mt-1">
                                {{ m.criado_em|date:"H:i" }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="flex justify-end">
                        <div class="bg-[#d9fdd3] text-gray-800 p-2 rounded-lg rounded-tr-none shadow-sm max-w-[70%] text-sm relative group break-all whitespace-pre-wrap">
                            {{ m.conteudo }}
                            <div class="text-[10px] text-gray-500 text-right mt-1 opacity-70">
                                {{ m.criado_em|date:"H:i" }}
                            </div>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        </div>

        <div class="h-4"></div>
    </div>
    {% endfor %}

</div>